/*media for small phone*/
@mixin media-small {
  @media screen and (max-height: 810px) {
    @content;
  }
}

/*media for monitor*/
@mixin media-wide {
  @media screen and (min-width: 1150px) {
    @content;
  }
}

/*media for beer race on tablet*/
@mixin media-tablet {
  @media screen and (min-width: 850px) and (max-width: 1150px) {
    @content;
  }
}

@mixin media-really-lowscreen {
  @media screen and (max-height: 900px) {
    @content;
  }
}

$accent-orange: #f69335;
$white-text: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url("public/background.jpg");
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/*general styling for phone*/
.race-body-right img:not(.beer-icon) {
  max-width: 65px;
  box-shadow: 7px 0 10px rgba(0, 0, 0, 0.41);
  @include media-tablet() {
    max-width: 80px;
  }

  @include media-small() {
    max-width: 48px;
  }

  @include media-wide() {
    max-width: 90px;
  }
}

#beer-race-parent {
  height: 100vh;
  background-color: rgb(12, 12, 12, 0.6);
  padding: 15px 8px 0 8px;
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white-text;
  margin-top: 3px;
  padding-left: 5px;
}

.top > * {
  flex-basis: 100%;
}

.top .wait-time {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.wait-time-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wait-time-parent > * {
  @include media-wide() {
    margin: 10px 10px 5px 5px;
  }
}

.queue-icon {
  width: 35px;
  margin-right: 4px;

  @include media-tablet() {
    width: 45px;
    margin-right: 6px;
  }
  @include media-wide() {
    width: 45px;
    margin-right: 6px;
  }
}

.logo {
  display: flex;
  justify-content: center;
}

.top .logo h4 {
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 400;
  font-family: "Rasa", serif;
  position: relative;

  @include media-wide() {
    font-size: 2.4rem;
    margin: 1rem 0 0 1rem;
  }
  @include media-tablet() {
    font-size: 2.4rem;
    margin: 1rem 0 0 1rem;
  }
  @include media-really-lowscreen() {
    font-size: 2rem;
    margin: 0.5rem 0 0 0.8rem;
  }
}

.top .logo h4:before {
  content: "";
  position: absolute;
  left: 20%;
  top: -2px;
  width: 60%; /* or 100px */
  border-top: 2px solid #ffffff;

  @include media-wide() {
    border-top: 3px solid #ffffff;
    top: -3px;
  }
}

.banner {
  margin-left: -40px;
  margin-right: -40px;
  background-color: rgb(201, 128, 47, 0.9);
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 0 1.2em 0;

  @include media-small() {
    padding: 0.5em 0 0.5em 0;
    margin-top: 0.5rem;
  }
}

.banner-text {
  color: rgb(255, 251, 251);
  font-size: 1.2em;

  @include media-small() {
    font-size: 1em;
  }
}

.title {
  display: flex;
  align-items: center;
  color: rgb(235, 220, 220);
  font-size: 1.15em;
  padding: 2rem 0 1rem 0;

  @include media-wide() {
    font-size: 1.3em;
    margin: 1em 0 1rem 0;
  }

  @include media-tablet() {
    font-size: 1.2em;
    padding: 2rem 0 1rem 0;
  }

  @include media-small() {
    font-size: 1em;
    padding: 0.5rem 0 0.5rem 0;
  }
}

.title-left h2 {
  display: none;
}

.title > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-right-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-right {
  width: 100%;
}

/**** Leading beers *****/
.race-body {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-wide() {
    justify-content: space-around;
    height: 55%;
  }
}

.race-body-left {
  display: none;

  @include media-wide() {
    display: block;
    width: 50%;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1400px) {
    margin-left: 4vw;
  }
}

.race-body-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include media-tablet() {
    width: 80%;
  }

  @include media-wide() {
    width: 50%;
  }
}

.race {
  min-width: 350px;
  width: 70%;
  height: 53vh;
  display: flex;
  justify-content: space-around;
  border-bottom: 12px solid #c9802f;
  margin: 0 0.5em 0 0.5em;

  @include media-tablet() {
    height: 58vh;
    max-width: 700px;
  }

  @include media-small() {
    height: 48vh;
  }
  @include media-really-lowscreen() {
    height: 50vh;
  }
}

.bar1,
.bar2,
.bar3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  background-color: #f7e2ae;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 50px;
  box-shadow: 7px 0 10px rgba(0, 0, 0, 0.41);

  @include media-tablet() {
    width: 60px;
    margin-top: 1.5rem;
  }

  @include media-small() {
    height: 48vh;
    width: 45px;
  }
  @include media-wide() {
    width: 60px;
  }
}

.bar1 {
  height: 75%;
}

.bar2 {
  min-height: 60px;
}

.bar3 {
  min-height: 40px;
}

.bars-text {
  min-width: 350px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  color: $white-text;
  font-size: 14px;
  margin: 0.6rem 0 0 0;

  @include media-small() {
    font-size: 11px;
  }

  @include media-wide() {
    font-size: 18px;
  }
  @include media-tablet() {
    max-width: 700px;
    font-size: 19px;
  }
  @media screen and (min-width: 1150px) and (max-width: 1250px) {
    font-size: 15px;
  }
}

.bars-text > * {
  flex-basis: 100%;
}

.beer1,
.beer2,
.beer3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.number1,
.number2,
.number3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.beer-icon {
  width: 20px;
  margin-bottom: 2px;
  @include media-small() {
    width: 19px;
  }
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
  @include media-wide() {
    display: none;
  }
  @include media-small() {
    margin-top: 4vh;
  }
  @include media-really-lowscreen() {
    margin-top: 5vh;
  }
}

.button {
  background-color: $accent-orange;
  border: 3px solid #ffffff;
  padding: 0.5em;
  box-sizing: border-box;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.51);
  font-size: 1.2em;
  width: 13rem;
  font-weight: 500;
  cursor: pointer;

  @include media-small() {
    font-size: 1.1rem;
    padding: 0.4em;
    width: 11rem;
  }
}
/*
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  background-color: #1c1c1c;
  color: white;
}*/

footer {
  background-color: #1c1c1c;
  color: $white-text;
}

.overlay {
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
}

li {
  list-style: none;
  padding: 2px 0;
}

/* Queue animation */
#one {
  animation-name: one;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
}

@keyframes one {
  0% {
    left: 0;
    opacity: 100;
  }

  100% {
    left: 100px;
    opacity: 0;
  }
}

#three {
  animation-name: three;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
}

@keyframes three {
  0% {
    left: 100px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

/* Venstre side med taps på widescreen */

@media screen and (min-width: 1150px) {
  .title-right {
    width: 50%;
  }

  .title-left {
    width: 50%;
  }

  .race-body-left {
    display: block;
  }

  .title-left h2 {
    display: block;
  }

  .parent-taps-div {
    display: flex;
    align-items: flex-start;
  }

  .taps-left {
    display: flex;
    align-items: center;
  }

  .parent-taps-div > * {
    padding: 10px;
  }

  .taps img {
    max-width: 100px;
    height: auto;
    @media screen and (max-width: 1250px) {
      max-width: 110px;
    }
    @include media-really-lowscreen() {
      max-width: 80px;
    }
    @media screen and (max-height: 740px) {
      max-width: 70px;
    }
  }
  /*repeat(auto-fill, minmax(210px, 1fr))*/

  .beer-taps {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    color: $white-text;
    padding: 10px;
    max-width: 900px;

    @media screen and (min-width: 1600px) {
      padding: 20px;
      grid-template-columns: repeat(2, minmax(290px, 1fr));
      grid-gap: 1rem;
    }
  }

  .taps-right h2 {
    font-size: 22px;
    color: $accent-orange;
    margin-bottom: 0.3em;
    font-family: "Rasa", serif;
    @media screen and (min-width: 1600px) {
      font-size: 28px;
    }
    @media screen and (max-width: 1250px) {
      font-size: 22px;
    }
    @media screen and (max-height: 740px) {
      font-size: 20px;
      margin-bottom: 0.1em;
    }
  }
  .level,
  .capacity {
    font-family: "Roboto", serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    @media screen and (min-width: 1600px) {
      font-size: 17px;
    }
    @media screen and (max-width: 1250px) {
      font-size: 15px;
    }
    @media screen and (max-height: 740px) {
      font-size: 15px;
    }
  }

  .taps .level {
    margin-bottom: 2px;
  }
}
