/*media for small phone*/
@mixin media-small {
  @media screen and (max-height: 740px) {
    @content;
  }
}

/*media for monitor*/
@mixin media-wide {
  @media screen and (min-width: 860px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url("public/background.jpg");
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/*general styling for phone*/
.race-body-right img:not(.beer-icon) {
  max-width: 60px;
  box-shadow: 7px 0 10px rgba(0, 0, 0, 0.41);

  @include media-small() {
    max-width: 48px;
  }
}

#beer-race-parent {
  height: 100vh;
  background-color: rgb(12, 12, 12, 0.6);
  padding: 15px 8px 0 8px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ebdcdc;
  margin-top: 3px;
  padding-left: 5px;
}

.top .wait-time h4 {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.wait-time-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wait-time-parent > * {
  flex-basis: 100%;
  margin: 4px;
}

.queue-icon {
  width: 25px;
}

.top .logo h4 {
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: 500;
  font-family: "Rasa", serif;
  position: relative;
}

.top .logo h4:before {
  content: "";
  position: absolute;
  left: 17%;
  top: -2px;
  width: 60%; /* or 100px */
  border-top: 2px solid rgb(235, 220, 220);
}

.banner {
  margin-left: -40px;
  margin-right: -40px;
  background-color: rgb(201, 128, 47, 0.9);
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 0 1.2em 0;

  @include media-small() {
    padding: 0.5em 0 0.5em 0;
    margin-top: 0.5rem;
  }
}

.banner-text {
  color: rgb(255, 251, 251);
  font-size: 1.2em;

  @include media-small() {
    font-size: 1em;
  }
}

.title {
  display: flex;
  align-items: flex-start;
  color: rgb(235, 220, 220);
  margin: 1.7rem 0 1.6rem 0;
  font-size: 1.15em;

  @include media-small() {
    font-size: 1em;
    margin: 1em 0 1.4rem 0;
  }
}

.title-left h2 {
  display: none;
}

.title > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-right-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-right {
  width: 100%;
}

/**** Leading beers *****/
.race-body {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-wide() {
    justify-content: space-around;
  }
}

.race-body-left {
  display: none;

  @include media-wide() {
    display: block;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.race-body-right {
  width: 100%;
  max-width: 600px;

  @include media-wide() {
    width: 40%;
  }
}

.race {
  height: 53vh;
  display: flex;
  justify-content: space-around;
  border-bottom: 12px solid #c9802f;
  margin: 0 0.5em 0 0.5em;

  @include media-small() {
    height: 48vh;
  }
}

.bar1,
.bar2,
.bar3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  background-color: #f7e2ae;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 50px;
  box-shadow: 7px 0 10px rgba(0, 0, 0, 0.41);

  @include media-small() {
    height: 48vh;
    width: 45px;
  }
}

.bar1 {
  height: 75%;
}

.bar2 {
  height: 20%;
}

.bar3 {
  height: 14%;
}

.bars-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  margin: 0.6rem 0 0 0;

  @include media-small() {
    font-size: 13px;
  }

  @include media-wide() {
    font-size: 18px;
  }
}

.bars-text > * {
  flex-basis: 100%;
}

.beer1,
.beer2,
.beer3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.number1,
.number2,
.number3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.beer-icon {
  width: 20px;
  margin-bottom: 2px;
  @include media-small() {
    width: 19px;
  }
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
  @include media-wide() {
    display: none;
  }
  @include media-small() {
    margin-top: 2vh;
  }
}

.button {
  background: #f69335;
  border: 3px solid #ffffff;
  padding: 0.5em;
  box-sizing: border-box;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.51);
  font-size: 1.2em;
  width: 13rem;
  font-weight: 500;
  cursor: pointer;

  @include media-small() {
    font-size: 1.1rem;
    padding: 0.4em;
    width: 11rem;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  background-color: #1c1c1c;
  color: white;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}

li {
  list-style: none;
}

/* Venstre side med taps på widescreen */

@media screen and (min-width: 860px) {
  .title-right {
    width: 40%;
  }

  .title-left {
    width: 60%;
  }

  .race-body-left {
    display: block;
  }

  .title-left h2 {
    display: block;
  }

  .parent-taps-div {
    display: flex;
    justify-content: center;
  }

  .parent-taps-div > * {
    flex-basis: 100%;
  }

  .taps img {
    max-width: 100px;
  }

  .beer-taps {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    color: black;
  }

  .beer-taps > * {
    margin: 1.5rem 0 1rem 0;
    padding: 1rem;
    border: solid black 2px;
    background-color: rgb(247, 226, 174);
    border: solid rgb(0, 0, 0) 3px;
  }
  .taps-right h2 {
    font-size: 23px;
    margin-bottom: 0.3em;
    font-family: "Rasa", serif;
  }
  .level,
  .capacity {
    font-family: "Roboto", serif;
  }

  .taps .level {
    margin-bottom: 5px;
  }
}
